<div class="container">
  <h6 class="col-sm-12">Foo Details</h6>
  <!-- <div class="col-sm-12">
    <label class="col-sm-3">ID</label> <span>{{foo.id}}</span>
  </div>
  <div class="col-sm-12">
    <label class="col-sm-3">Name</label> <span>{{foo.name}}</span>
  </div> -->
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-primary" (click)="getFoo()" type="submit">New Foo</button>
      <button class="btn btn-warning" (click)="getAuth()" type="button">Auth</button>
    </div>
    <div class="col-sm-8">
      {{ authInfor | json }}
    </div>
  </div>

</div>